rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // PELIGRO: Esto permite leer y escribir a CUALQUIERA.
    // Para el lanzamiento rápido está bien, pero debes asegurarlo luego.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}